<h1>Checkout</h1>

<% @carted_fish.each do |carted| %>
<div>
Item: <%= carted.fish.name %><br>
Quantity: <%= carted.quantity %><br>
Price: <%= number_to_currency(carted.fish.price * carted.quantity) %>
</div>
<%= link_to "Delete Item", "/cart/#{carted.id}", method: :delete %>
<br>
<%end%>
<%= link_to "Buy Now", '/orders', method: :post, class: "btn btn-primary" %>