<h1>All the fish</h1>
<p>
<% @fish.each do |fish| %>
<div>
  Type of fish: <a href=/fishes/<%=fish.id%>> <%= fish.name %></a><br>
  <%="Prices of fish: $" + fish.price.to_s %><br>
  <%="Description of fish: " + fish.description %><br>
  <img src="<%=fish.image%>" height="100">
</div>
<br>
<br>
<br>
<br>
<% end %>

