<% if @errors %>
  <% @errors.each do |error| %>
  <h4><font color=red><%= error %></font></h4>
  <% end %>
<% end %>
<h1>New Fish!</h1>
<%= form_tag "/fishes", method: :post do %>
  <div>
    Name: <input type="text" name="name" value="<%= @fish.name %>">
  </div>
  <div>
    Price: <input type="number" name="price" value="<%= @fish.price %>">
  </div>
  <div>
    Image: <input type="text" name="image" value="<%= @fish.image %>">
  </div>
  <div>
    Description: <input type="text" name="description" value="<%= @fish.description %>">
  </div>
    <div>
  <select name="supplier_id">
    <% @suppliers.each do |supplier|%>
     <option type="integer" value="<%=supplier.id%>"><%=supplier.name%></option>
    <%end%> 
    </select>
  </div>
  <input type="submit" value="Create Fish">
<% end %>
