<h1><%= @fish.name %> </h1>
<p>
<div>
  <%="Type of fish: " + @fish.name %><br>
  <%="Price of fish: " + number_to_currency(@fish.price) %><font color="red"><%= @fish.sale_message %></font><br>
  Tax: <%= number_to_currency(@fish.tax) %> <br>
  Total: <%= number_to_currency(@fish.total) %><br>
  <%="Description of fish: " + @fish.description %><br>
  <img src="<%=@fish.image%>" height="100">
</div><br>
<form action="<%=@fish.id%>/edit">
    <input type="submit" value="Edit" />
</form>
<%= form_tag "/fishes/#{@fish.id}", method: :delete do %>
  <input type="submit" value="Delete Fish" class="btn btn-danger">
<%end%>
<form action="/../">
  <input type="submit" value="Back to Fish" />
</form>

