<h1><%= @fish.name %> </h1>
<p>
<div>
  <%="Type of fish: " + @fish.name %><br>
  <%="Price of fish: " + number_to_currency(@fish.price) %><font color="red"><%= @fish.sale_message %></font><br>
  Tax: <%= number_to_currency(@fish.tax) %> <br>
  Total: <%= number_to_currency(@fish.total) %><br>
  <%="Description of fish: " + @fish.description %><br>
  Fish Categories: 
  <% @fish.categories.each do |category| %>
  <%= category.name %>
  <% end %>
  <br>
  <img src="<%=@fish.image%>" height="100"><br>
  <h6> Supplier: <%= @fish.supplier.name %> </h6>
</div><br>
<table>
  <tr>
    <th><form action="<%=@fish.id%>/edit">
    <input type="submit" value="Edit" />
</form></th>
    <th><%= form_tag "/fishes/#{@fish.id}", method: :delete do %>
  <input type="submit" value="Delete Fish" class="btn btn-danger">
<%end%></th> 
</tr>
<tr>
    <th><form action="/../">
  <input type="submit" value="Back to Fish" />
</form></th>
<th>
</th>
  </tr>
<tr>
<th>
<%= form_tag '/cart', method: :post do  %>
    <input type="hidden" name="fish_id" value="<%= @fish.id %>">
      Please enter the quantity of<br> fish you'd like to purchase<br>
    <div>
      <input type="number" name="quantity">
    </div>
   <input type="submit" value="add to cart">
 <%end%>  
</th><th></th>
</table>

